Team*.zip
team*.zip
*.pem
*.ppk
*.crt
*.key
*.ovpn
node_modules/
db.sqlite3
feedbackform/__pycache__/*
chat/__pycache__/*
interface/__pycache__/*
login/__pycache__/*
myapp/__pycache__/*
GoalDiggers/__pycache__/*
feedbackform/migrations/*
chat/migrations/*
interface/migrations/*
login/migrations/*
myapp/migrations/*
GoalDiggers/migrations/*
GoalDiggers/migrations/*
GoalDiggers/.idea/*
GoalDiggers/GoalDiggers/__pycache__/*