{% extends 'base_1.html' %}
{% block content %}
  {% block content_header %}
    <h2>Assignments</h2>
  <table class="table mb-0">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Download</th>
        <th>Marks</th>
      </tr>
    </thead>
    {% endblock %}
    <tbody>
      {% for book in books %}
        <tr>
          <td>{{ book.title }}</td>
          <td>{{ book.description }}</td>
          <td>
            <a href="{{ book.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
              Download PDF
            </a>
          </td>
          <td>
            <form method="post" action="{% url 'grade_book' book.pk %}">
              {% csrf_token %}
              <input type="number" name="mark"> 
              <button type="submit" class="btn btn-primary btn-sm" >Grade</button>
            </form>
          </td>
          <td>{{ book.marks }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}