@import url('https://fonts.googleapis.com/css2?family=Exo&family=Patua+One&display=swap');
​
h1{
	margin-top: 5rem;
	text-align: center;
	font-family: 'Exo', sans-serif;
	font-family: 'Patua One', cursive;
}
.card-container{
	margin-top: 5rem;
	display: flex;
	justify-content: space-around;
}