<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style_login.css">
	<script src="https://kit.fontawesome.com/8ff1cfe565.js" crossorigin="anonymous"></script>
	<title>CFG</title>
</head>
<body>
	<div class="login-div">
		<div class="width-setter">
			<h1>ACCOUNT LOGIN</h1>
			<div class="white-tile">
				<form action="">
					<i class="fas fa-user fa-2x"></i>
					<input type="text" id="username" placeholder="Username">
					<div class="separator"></div>
					<i class="fas fa-unlock fa-2x"></i>
					<input type="password" id="password" placeholder="Password">
					<div class="separator"></div>
				</form>
				<a href="#" class="login-btn btn">LOG IN</a>
			</div>
		</div>
	</div>
</body>
</html>
